* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: floralwhite;
}

.caratula {
    width: 130em;
    height: 65em;
    background-image: url(../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size: cover;
    margin: auto;
    padding: 5em;
    
}

.banner {
    font-size: 4em;
    color: black;
    margin-top: 4em;
    margin-left: 1em;
}

.big {
    font-size: 1.5em;
}

.seccion1 {
    margin: auto;
    width: 130em;
    height: 220em;
    background-color: white;
    padding: 2.5em;
    flex-direction: column;
    align-content: space-around;
}

.bmessage {
    width: 60em;
    height: 15em;
    margin: auto;
    margin-top: 1.5em;
    padding: 1.2em;
    text-align: center;
}

.bmessage p {
    font-size: 2em;
}

.bmessage span{
    font-size: 1.5em;
}

.secciones {
    width: 100em;
    height: 80em;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.temas {
    width: 30em;
    height: 4.5em;
    border-bottom: 0.5em solid black;
    padding: 1em;
}

.temas p{
    font-size: 2.5em;
    text-align: center;
}

.bbox {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin: auto;
}

.lbox {
    width: 20em;
    height: 20em;
    margin: 4em;
    margin-bottom: 10em;
    background-color: white;
}
.image {
    width:20em;
}

.image img {
    width:20em;
}

.texto{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 20em;
    height:10em;
}

.texto p {
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.lbox :hover{
    opacity: 80%;
    transition: 1s;
}
